
.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}

.forget-password .panel-body{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#botao-login {
  background: #0080ff none repeat scroll 0 0;
  border-color: #0080c0;
  color: #ffffff;
  font-size: 14px;
  line-height: 50px;
  padding: 0;
}